.header {
  width: 100%;
  height: 36.8rem;
  padding-top: 1.2rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgba(255, 255, 255, 0), url(./assets/movie-background.jpg); */

  background-image:
     /* linear-gradient(#000000c7 5%, rgba(255, 255, 255, 0.006)), */ linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(https://res.cloudinary.com/dkxbadex/image/upload/v1623577508/Reflick/movie-image.jpg);
}

.topNav {
  display: flex;
  justify-content: space-between;
  height: 4.4rem;
  width: 90vw;
  /* margin: 1.2rem; */
}

/* .links,
  .links:active {
    color: rgb(124, 179, 66);
  } */

.active {
  color: white !important;
}
.active:hover {
  color: rgba(255, 255, 255, 0.857) !important;
}

.logo {
  width: auto;
  height: 5rem;
  display: flex;
  color: #57cc06;

  font-size: 3.2rem;
  font-family: 'Monoton', sans-serif;
  align-items: center;
  justify-content: space-between;
}
.cont {
  display: none;
}

.links {
  width: 20rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.links a {
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: white;
}

.links a:hover {
  color: rgb(124, 179, 66);
}

.profileImg {
  border-radius: 50%;
  background-image: url(../assets/profile-placeholder.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid green;
  background-size: contain;
  width: 3.5rem;
  height: 3.5rem;
}
.mob {
  display: none;
}

.jumbo {
  margin: 4rem 0;
}

.bigCaption {
  width: 50rem;
  height: auto;
  font-family: 'DMSerifDisplay', sans-serif;
  font-weight: normal;
  font-size: 5.1rem;
  line-height: 1.05;
  /* animation: bigcapt .2s ;
  animation-delay:.1s ;
  animation-fill-mode: forwards; */
}
/* @keyframes bigcapt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
p {
  animation: show 0.2s linear;
  /* animation-delay: 1s; */
  animation-fill-mode: forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section {
  height: 5.6rem;
  overflow-y: hidden;
  animation: pause 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes pause {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section > span {
  animation: animateUp 0.7s cubic-bezier(0.2, 0.6, 0.35, 1) 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  display: block;
}

@keyframes animateUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1s;
  }
}

.smallCaption {
  width: 48rem;
  height: auto;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  color: #57cc06;
  margin-bottom: 0.4rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  margin-left: 2px;
  margin-top: 1.2rem;
}

.searchBar {
  width: 68rem;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  opacity: 0.8;
  display: flex;
}
.downArrow {
  display: none;
  color: rgb(0, 76, 63);
}

.searchIcon {
  width: 15%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 1px solid #d6d6d6; */
}

.search {
  background-color: #ffffff;
  width: 63rem;
}

.topNavMov {
  width: 94%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 1.2rem; */
}

.searchBarMov {
  height: 4.56rem;
  background-color: #fff;
  border-radius: 0.5rem;
  opacity: 0.8;
  display: flex;
  font-size: 16px;
  width: 70rem;
  border: 1px solid #d6d6d6;
}
.caption {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  width: 67.2rem;
  height: auto;
  color: white;
  margin-left: -12.8rem;
}

.notifBar {
  color: #004c3f;
  height: 4rem;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 6.5rem;
  align-content: center;
  /* position: relative; */
}

.notif {
  height: 4rem;
  width: 18rem;
  background: #fbf7ed;
  /* position: sticky;
    position: -webkit-sticky;
    top: 7rem; */
  /* position: absolute;
    top: 10rem; */
  font: bold 1.2rem 'Roboto', sans-serif;
  margin-left: calc(100vw - 18rem);
  color: #004c3f;
  right: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelNotif {
  /* position: absolute; */
  background-color: rgba(54, 54, 54, 0.183);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -2px;
  top: 5.1%;
  right: 5.1%;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  /*margin-top: 0.2rem; */
  cursor: pointer;
}
.cancelNotif:hover {
  background-color: rgba(0, 0, 0, 0.197);
}
.body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.focus {
  width: 111.8rem;
  min-width: 68%;
  height: 66rem;
  display: grid;
  /* grid-template-columns: 65rem 45.8rem; */
  grid-template-columns: 58% 41%;
  grid-column-gap: 0.8rem;
  /* background-color: red; */
}

.resultDescription {
  margin: 1.7rem 0;
  font: 1.6rem 'Roboto', sans-serif;
  font-stretch: condensed;
  font-weight: 500;
  color: rgb(52, 52, 52);
}

.searchTerm {
  color: #254a44;
  margin-left: 0.3rem;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-stretch: normal;
  font-weight: 700;
}
.resultContainer {
  overflow-y: auto;
  height: 58rem;
}

.loaderCont {
  width: 100%;
  /* height: 70%; */
  margin-top: 9.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
.scrollableDiv {
  height: 58rem;
  overflow: auto;
}
.searchResults {
  /* overflow: auto; */
  background-color: #fafafa;
  height: 58rem;
  padding: 0.8rem;
  border: 1px solid #d6d6d61d;
  /* width: 63.4rem; */
  position: relative;
}
.searchResultSide {
  width: 100%;
}

/* reach */
.nominatedMovies {
  /* width: 44.2rem; */
  height: 58rem;
  background-color: #fbf7ed;
  padding: 0.8rem;
  border: 1px solid #d6d6d61d;
  position: relative;
}
.nominatedSide {
  /* height: auto; */
  width: 100%;
}
.nominatedSideMob {
  display: none;
}

.sectionDescription {
  display: flex;
  /* height: 10px; */
  width: 100%;
  margin: 1.7rem 0;
  justify-content: space-between;

  position: relative;
}

.green {
  font: 1.6rem 'Roboto', sans-serif;
  font-stretch: condensed;
  font-weight: 500;
  letter-spacing: 0px;
  color: #004c3f;
}
.share {
  font: 1.5rem 'Roboto', sans-serif;
  font-stretch: condensed;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  position: absolute;
  right: 21rem;
  top: 43.65rem;
}
.share:hover {
  color: #57cc06;
}

.initial {
  margin-top: 9.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.animoj {
  width: 15rem;
  fill: #f5c517;
  animation: push 0.3s linear 1;
}

@keyframes push {
  50% {
    transform: scale(0.8);
  }
}
.complete {
  height: auto;
  margin-top: 9.5rem;
  font: bold 1.8rem 'Roboto,sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
}
.completeOverlay {
  width: 98%;
  height: 98%;
  margin: 8px 0;

  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-image: linear-gradient(red, orange); */
  /* background-color: rgba(255, 255, 255, 0.95);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .completeOverlay {
    /* -webkit-backdrop-filter: blur(3.5px);
      backdrop-filter: blur(3.5px); */
    background-color: rgba(201, 200, 200, 0.932);
  }
}

.initialSvg {
  width: 21rem;
  fill: #9dc29d82;
}
.initialText {
  font: 1.6rem 'Roboto', sans-serif;
  color: #1a1a1a;
  width: 21rem;
  text-align: center;
}

.socials {
  position: absolute;
  width: auto;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.socialsicon {
  padding: 2px;
  margin: 3px 0;
}
.initialNominated {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20.8rem;
  /* padding-top: 12.5rem; */
  align-items: center;
}

.small {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: -0.2rem;
}

.movableNav {
  height: 6.2rem;
  width: 100vw;
  position: fixed;
  top: -10rem;
  z-index: 20;
  transition: top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #025d4e;
  /* background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
  .focus {
    width: 80%;
    grid-template-columns: 58% 41%;
    grid-column-gap: 1%;
  }
  .nominatedMovies {
    width: calc(100% - 1.6rem);
  }

  .searchResults {
    /* overflow: auto; */

    height: 58rem;
    padding: 0.4rem;
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .caption {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: left;
    width: auto;
    height: auto;
    color: white;
    margin-left: 0;
  }
  .focus {
    display: block;
    width: 99%;
    position: relative;
    height: auto;
    overflow: hidden;
  }

  .topNavMov {
    width: 98%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 1.2rem; */
  }
  .notifBar {
    color: #004c3f;
    height: 4rem;
    width: 100%;
    top: 0;
    position: absolute;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 7rem;
    align-content: center;
    /* position: relative; */
  }
  .notif {
    height: 4rem;
    /* width: 100%; */
    background: #fbf7ed;
    /* position: sticky;
      position: -webkit-sticky;
      top: 7rem; */
    /* position: absolute;
      top: 10rem; */
    font: bold 1.2rem Arimo;
    margin-left: 0;
    color: #004c3f;
    right: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sitename {
    display: none;
  }
  .searchResultSide {
    width: 100%;
  }
  .searchResults {
    /* overflow: auto; */
    background-color: #fafafa;
    height: 82vh;
    padding: 0.8rem 0;
    width: 100%;
    /* display: none; */
    position: relative;
  }
  .downArrow {
    fill: #004c3f;
    height: 38px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    /* margin-top: 8px; */
    background-color: pink;
    padding: 0px 22px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #cbddcb;
    border-radius: 20px 20px 0 0;
  }
  .resultContainer {
    height: 82vh;
    overflow: auto;
  }
  .scrollableDiv {
    height: 82vh;
    overflow: auto;
  }
  .try {
    color: green;
  }
  .completeOverlay {
    width: 100%;
    height: 99%;
    margin: 8px 0;

    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  p {
    animation: show 1s linear 1;
  }

  .bigCaption {
    width: 100%;
    height: auto;
    text-align: left;
    font: bold 6rem;
    animation: show 1s linear 1;
  }

  p {
    animation: show 1s linear 1;
  }

  .smallCaption {
    width: 85%;
    height: auto;
    text-align: justify;
    letter-spacing: 0.1px;
    margin-top: 30px;
    margin-bottom: 0.5rem;
    opacity: 1;
    color: #57cc06;

    /* color: white; */
    font: bold 2.2rem 'Roboto', sans-serif;
  }
  .searchBar {
    width: 36rem;
    height: 5.2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    opacity: 0.8;
    display: flex;
    font-size: 16px;
  }
  .searchBox {
    width: 85%;
  }
  .searchBarMov {
    height: 4.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    opacity: 0.8;
    display: flex;
    font-size: 16px;
    width: 78%;
  }
  .search {
    width: 32rem;
  }
  .searchMov {
    width: 28rem;
  }
  .overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.36);
    z-index: 5;
    top: 0;
    right: 0;
    opacity: 1;
  }
  .mob {
    width: auto;
    display: flex;
    align-items: center;
    height: 4.8rem;
    justify-content: space-between;
  }
  .jumbo {
    /* margin-top: 5.2rem; */
    margin-top: 20%;
  }
  .total {
    /* height: calc(100vh + 50vh); */
    overflow: hidden;
    position: relative;
    width: 100vw;
  }

  .header {
    height: 62rem;
    width: 100vw;
  }
  .share {
    display: none;
  }
  .links {
    display: none;
  }
  .cont {
    display: block;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 75vh;
    background-color: #fbf7ed;
    /* bottom: 0; */
    top: 25vh;
    right: 0;
    border-radius: 20px 20px 0 0;
    border: 1px solid #d6d6d6;
  }
  .star {
    fill: white;
  }
  .nominatedSide {
    display: none;
  }
  .nominatedSideMob {
    display: block;
    width: 100vw;
    height: auto;
    /* background-color: grey; */
  }
  .nominatedMovies {
    width: calc(100vw - 1.6rem);
  }
  .movableNav {
    width: 100vw;
  }
  .notifBar {
    display: none;
  }
  .sectionDescription {
    display: none;
  }

  .fave {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #000;
    color: #fff;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    border: 1px solid #d6d6d623;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
  }
  .resultDescription {
    margin: 1.7rem 1rem;
    font-size: 2rem;
  }
}
