.card {
  /* width: 41.6rem; */
  height: 9.5rem;
  margin: 1rem;
  background-color: #ffffff;
  position: relative;
  display: flex;

  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.description {
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  /* padding: 20px 0; */
}
.remove {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}
.title {
  margin: 0 0.8rem;
  width: 27rem;
  height: auto;
  font: bold 1.6rem Arimo;
}

.year {
  margin: 0 0.8rem;
  font: 1.3rem Arimo;
  color: #a5a5a5;
}

.rating {
  margin: 0 1rem;
  display: flex;
  font: normal normal normal 1.3rem Arimo;
}
img {
  width: 6.32rem;
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
  .card {
    width: auto;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .card {
    width: auto;
  }
}
