.movie {
  width: 57.2rem;
  height: 8.8rem;
  margin: 1.3rem;
  background-color: #f2f2f2;
  padding: 1.4rem;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  position: relative;
}
.tag {
  position: absolute;
  top: 0;
  right: 0rem;
}

.title {
  font: normal normal bold 2rem Roboto;
  color: #004c3f;
  max-width: 90%;
}
.year {
  font: 1.6rem Roboto;
  margin-top: 1.6rem;
  color: #a5a5a5;
}
@media screen and (max-width: 1280px) {
  .movie {
    width: calc(100% - 4rem);
    height: 8.8rem;
    margin: 0.6rem;
    background-color: #f2f2f2;
    padding: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .movie {
    width: auto;
    height: 8.8rem;
    margin: 1.3rem;
    background-color: #f2f2f2;
    padding: 1.4rem;
  }
}
