@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner div {
  position: absolute;
  animation: spin 0.3s linear infinite;
  width: 50px;
  height: 50px;
  top: 16px;
  left: 16px;
  border-radius: 50%;

  box-shadow: 0 4px 0 0 #004c3f;
}

.spinnerEclipse {
  width: 88px;
  height: 88px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spinner div {
  box-sizing: border-box;
}
