.header {
  width: 192rem;
  height: 46.7rem;
  /* background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0%
    0% no-repeat padding-box; */

  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-image: url(./assets/Header\ Image.png);
  /* justify-content: ; */
}
a {
  margin-left: 1rem;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  color: white;
}
.active {
  background-color: #004c3f;
  border-radius: 0.5rem;
}
.topNav {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  width: 162.8rem;
  margin: 1.5rem;
}
.logo {
  width: 20rem;
  height: 4.7rem;
  /* background-color: blue; */
  display: flex;
  color: white;
  font: normal normal bold 2rem Arimo;
  align-items: center;
  justify-content: space-between;
}
.jumbo {
  margin: 7.5rem 0;
}
.bigCaption {
  width: 62rem;
  height: 5.8rem;
  font: normal normal bold 5.1rem/5.1rem worksans;
}
.smallCaption {
  width: 46rem;
  height: 6.5rem;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  color: white;
  font: normal normal normal 1.9rem/2.8rem Arimo;
}

.searchBar {
  width: 83.7rem;
  height: 6.2rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0.5rem;
  opacity: 0.8;
  display: flex;
}
.searchIcon {
  width: 6.1rem;
  height: 6.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  background-color: rgba(255, 255, 255, 0.626);
}
.caption {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  width: 84rem;
  height: 24rem;
  color: white;
  margin-left: -16rem;
}
.links {
  width: 35rem;
  height: 5.5rem;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}
.profileImg {
  border-radius: 50%;
  background-image: url(./assets/profile-user.svg);
  border: 1px solid green;
  width: 4.5rem;
  height: 4.5rem;
}

.nominatedMovies {
  width: 55.2rem;
  height: 87.1rem;
  background-color: #fbf7ed;
  padding: 1rem;
}
.searchResults {
  overflow: auto;
  background-color: #fafafa;
  height: 88rem;
}
.resultDescription {
  margin: 2rem 0;
  font: normal normal bold 2rem/2.4rem Montserrat;
}
.sectionDescription {
  display: flex;
  /* height: 10px; */
  width: 55.2rem;
  margin: 2rem 0;
  justify-content: space-between;

  position: relative;
}
.searchTerm {
  color: #2f2f2f;
}
.green {
  font: normal normal bold 2rem/2.4rem Arimo;
  letter-spacing: 0px;
  color: #004c3f;
}
.share {
  font: normal normal normal 1.8rem/2.2rem Arimo;
  letter-spacing: 0px;
  color: #1a1a1a;
  cursor: pointer;
}

.initial {
  margin-top: 9.5rem;
  width: 85.5rem;
  height: 92rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.initialSvg {
  width: 27rem;
  fill: #e6e6e6;
}
.initialText {
  font: normal normal normal 2.4rem/3.6rem Arimo;
  color: #1a1a1a;
  width: 27rem;
  text-align: center;
}
.shareSection {
  display: flex;
  width: 18rem;
  height: 8rem;
  justify-content: space-evenly;
  align-items: center;
  font: normal normal normal 1.6rem/2rem Arimo;
  color: #1a1a1a;
  z-index: 10;
}
.socials {
  position: absolute;
  width: 20rem;
  height: 7rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1.5rem 0.4rem #00000029;
  border-radius: 0.5rem;
  top: 3.1rem;
  right: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.initialNominated {
  width: 55.2rem;
  display: flex;
  flex-direction: column;
  padding-top: 12.5rem;
  align-items: center;
}

.body {
  height: 80vh;
  width: 192rem;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}

.notifBar {
  /* background-color: rgba(2, 98, 2, 0.387); */
  color: #004c3f;
  height: 10.4rem;
  width: 192rem;
  position: relative;
}
.small {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: -0.2rem;
}
.movableNav {
  height: 10rem;
  width: 100%;
  position: fixed;
  top: -10rem;
  align-self: center;
  z-index: 20;
  transition: top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.notif {
  height: 10.1rem;
  width: 56.6rem;
  background: #fbf7ed;
  border: 0.1rem solid #004c3f;
  position: absolute;
  top: 0;
  font: normal normal bold 2rem/3rem Arimo;
  color: #004c3f;
  right: 22rem;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancelNotif {
  position: absolute;
  top: 0;
  right: 0;
}
.focus {
  width: 143rem;
  height: 93rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 0.1rem;
  /* background-color: darkgreen; */
}
