.header {
  width: 100%;
  height: 38rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.687) 5%,
      rgba(255, 255, 255, 0)
    ),
    url(./assets/movie\ background.jpg);
}

.topNav {
  display: flex;
  justify-content: space-between;
  height: 4.4rem;
  width: 130.2rem;
  margin: 1.2rem;
}

a {
  margin-left: 0.8rem;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  color: white;
}

a:hover,
:active {
  color: rgb(124, 179, 66);
}

.active {
  background-color: #004c3f !important;
  border-radius: 0.4rem;
}

.logo {
  width: 18rem;
  height: 4.7rem;
  display: flex;
  color: white;
  font: normal normal bold 2rem Arimo;
  align-items: center;
  justify-content: space-between;
}

.links {
  width: 24rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileImg {
  border-radius: 50%;
  background-image: url(./assets/profile-placeholder.png);
  border: 1px solid green;
  background-size: contain;
  width: 4.5rem;
  height: 4.5rem;
}

.jumbo {
  margin: 6rem 0;
}

.bigCaption {
  width: 50rem;
  height: 4.7rem;
  font: normal normal bold 5.1rem/5.1rem Worksans;
}

.smallCaption {
  width: 48rem;
  height: 5.2rem;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  color: white;
  font: normal normal normal 1.9rem/2.8rem Arimo;
}

.searchBar {
  width: 68rem;
  height: 5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  opacity: 0.8;
  display: flex;
}

.searchIcon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  background-color: #ffffff;
}
.caption {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  width: 67.2rem;
  height: 20rem;
  color: white;
  margin-left: -12.8rem;
}
.body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notifBar {
  background-color: rgba(2, 98, 2, 0.387);
  color: #004c3f;
  height: 6rem;
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
}

/* reach */

.notif {
  height: 5.8rem;
  width: 40rem;
  background: #fbf7ed;
  position: absolute;
  top: 0;
  font: bold 1.6rem Arimo;
  color: #004c3f;
  right: 8%;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelNotif {
  position: absolute;
  top: 0;
  right: 0;
}

.nominatedMovies {
  width: 44.2rem;
  height: 70rem;
  background-color: #fbf7ed;
  padding: 0.8rem;
}

.searchResults {
  overflow: auto;
  background-color: #fafafa;
  height: 70rem;
}
.resultDescription {
  margin: 2rem 0;
  font: normal normal bold 2rem/2.4rem Montserrat;
}
.sectionDescription {
  display: flex;
  /* height: 10px; */
  width: 55.2rem;
  margin: 2rem 0;
  justify-content: space-between;

  position: relative;
}
.searchTerm {
  color: #2f2f2f;
}
.green {
  font: normal normal bold 2rem/2.4rem Arimo;
  letter-spacing: 0px;
  color: #004c3f;
}
.share {
  font: normal normal normal 1.8rem/2.2rem Arimo;
  letter-spacing: 0px;
  color: #1a1a1a;
  cursor: pointer;
}

.initial {
  margin-top: 9.5rem;
  width: 85.5rem;
  height: 92rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.initialSvg {
  width: 27rem;
  fill: #e6e6e6;
}
.initialText {
  font: normal normal normal 2.4rem/3.6rem Arimo;
  color: #1a1a1a;
  width: 27rem;
  text-align: center;
}
.shareSection {
  display: flex;
  width: 18rem;
  height: 8rem;
  justify-content: space-evenly;
  align-items: center;
  font: normal normal normal 1.6rem/2rem Arimo;
  color: #1a1a1a;
  z-index: 10;
}
.socials {
  position: absolute;
  width: 20rem;
  height: 7rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1.5rem 0.4rem #00000029;
  border-radius: 0.5rem;
  top: 3.1rem;
  right: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.initialNominated {
  width: 55.2rem;
  display: flex;
  flex-direction: column;
  padding-top: 12.5rem;
  align-items: center;
}

.small {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: -0.2rem;
}
.movableNav {
  height: 7rem;
  width: 100%;
  position: fixed;
  top: -10rem;
  align-self: center;
  z-index: 20;
  transition: top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004c3f;
}

.focus {
  width: 143rem;
  height: 93rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 0.1rem;
  /* background-color: darkgreen; */
}
