.header {
  width: 192rem;
  height: 46.7rem;
  background: url() transparent
    linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat
    padding-box;
  opacity: 0.8;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: ;
}
a {
  margin-left: 1rem;
  text-decoration: none;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: white;
}
.active {
  background-color: #004c3f;
  border-radius: 5px;
}
.topNav {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  width: 162.8rem;
}
.logo {
  width: 19rem;
  height: 4.7rem;
  background-color: blue;
  display: flex;
  color: white;
  font: normal normal bold 20px Arimo;
  align-items: center;
  justify-content: space-between;
}
.jumbo {
  margin: 75px 0;
}
.bigCaption {
  width: 58rem;
  height: 5.8rem;
  font: normal normal bold 52px/60px Arimo;
}
.smallCaption {
  width: 46rem;
  height: 6.5rem;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  color: black;
  font: normal normal normal 24px/36px Arimo;
}

.searchBar {
  width: 83.7rem;
  height: 6.2rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 0.8;
  display: flex;
}
.searchIcon {
  width: 6.1rem;
  height: 6.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  background-color: rgba(255, 255, 255, 0.626);
}
.caption {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  width: 84rem;
  height: 24rem;
  color: black;
  background-color: grey;
  margin-left: -16rem;
}
.links {
  width: 35rem;
  height: 5.5rem;
  background-color: yellow;
  display: flex;
  align-items: center;
}
.profileImg {
  border-radius: 50%;
  background-image: url(./assets/profile-user.svg);
  border: 1px solid green;
  width: 4.5rem;
  height: 4.5rem;
}

.nominatedMovies {
  width: 55.2rem;
  height: 87.1rem;
  background-color: #fbf7ed;
}
.searchResults {
  overflow: auto;
  background-color: #fafafa;
  height: 88rem;
}
.resultDescription {
  font: normal normal bold 28px/32px Arimo;
}
.sectionDescription {
  display: flex;
  /* height: 10px; */
  width: 55.2rem;
  justify-content: space-between;

  position: relative;
}
.searchTerm {
  color: #2f2f2f;
}
.green {
  font: normal normal bold 28px/32px Arimo;
  letter-spacing: 0px;
  color: #004c3f;
}
.share {
  font: normal normal normal 24px/28px Arimo;
  letter-spacing: 0px;
  color: #1a1a1a;
}

.initial {
  margin-top: 9.5rem;
  width: 855px;
  height: 920px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.initialSvg {
  width: 27rem;
  fill: #e6e6e6;
}
.initialText {
  font: normal normal normal 24px/36px Arimo;
  color: #1a1a1a;
  width: 27rem;
  text-align: center;
}
.shareSection {
  display: flex;
  width: 20rem;
  height: 8rem;
  justify-content: space-evenly;
  align-items: center;
  font: normal normal normal 24px/28px Arimo;
  color: #1a1a1a;
  z-index: 10;
}
.socials {
  position: absolute;
  width: 24.6rem;
  height: 16.4rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  top: 3.1rem;
  right: 0;
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.initialNominated {
  width: 55.2rem;
  display: flex;
  flex-direction: column;
  padding-top: 12.5rem;
  align-items: center;
}

.share {
  font: normal normal normal 24px/28px Arimo;
}

.body {
  height: 80vh;
  width: 1920px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}

.searchResultSide {
  /* background-color: #fafafa; */
}
.notifBar {
  background-color: rgba(2, 98, 2, 0.387);
  color: #004c3f;
  height: 10.4rem;
  width: 1920px;
  position: relative;
}
.small {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: -2px;
}
.movableNav {
  height: 10rem;
  position: fixed;
  top: -100px;
  align-self: center;
  z-index: 20;
  transition: top 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.notif {
  height: 10.1rem;
  width: 55.3rem;
  background: #fbf7ed;
  border: 1px solid #004c3f;
  position: absolute;
  top: 0;
  font: normal normal bold 20px/30px Arimo;
  color: #004c3f;
  right: 24rem;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancelNotif {
  position: absolute;
  top: 0;
  right: 0;
}
.focus {
  width: 1430px;
  height: 930px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 1px;
  /* background-color: darkgreen; */
}
