:root {
	--main-color: #025d4e;
	--secondary-color: #fbf7ed;
	--accent: #5ddb06;
	--empty: #00ffff;
	--num-color: #a5a5a5;
	--light-grey: #fafafa;
	--dark-grey: #f2f2f2;
	--border: #d6d6d61d;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
* {
	margin: 0;
	padding: 0;
}
*::before,
*::after {
	box-sizing: inherit;
}
*::-webkit-scrollbar {
	width: 0.6rem;
}
*:hover::-webkit-scrollbar-track {
	background: transparent;
	box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
	margin: 0 2px;
}
*:hover::-webkit-scrollbar-thumb {
	/* height: 20px; */
	background-color: #004c3f6a;
	border-radius: 2rem;
	box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
	/* border: 0.75px solid #9DB9CC; */
}
input:focus,
textarea:focus,
select:focus {
	outline: none;

	background: transparent;
}
input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.completeOverlay {
	background-color: red;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.353);
}
.sr-only {
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
	html {
		font-size: 56%;
	}
}
@media screen and (max-width: 480px) {
	html {
		font-size: 50.5%;
	}
}
