html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}
*::-webkit-scrollbar {
  width: 0.6rem;
}
*:hover::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  margin: 0 2px;
}
*:hover::-webkit-scrollbar-thumb {
  /* height: 20px; */
  background-color: #004c3f6a;
  border-radius: 2rem;
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  /* border: 0.75px solid #9DB9CC; */
}
input:focus,
textarea:focus,
select:focus {
  outline: none;

  background: transparent;
}
input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.completeOverlay {
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.353);
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50.5%;
  }
}
